@model Web.Models.Product
   
            <div class="card flex-grow-0 flex-shrink-1 box-shadow rounded text-center" style="flex-basis: 250px;">
                <img class="img-fluid overflow-hidden" style="width: 250px; height: 250px; overflow:hidden;" src="@Model.ImgSrc" alt="@Model.Name">
                <div class="card-body">
                    <h4 class="card-title">@Model.Name</h4>
                    <p class="card-text">@Model.Description</p>
                    <p>@Model.Price.ToString("C")<span id="@Model.Id"></span></p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-secondary" onclick="AddToCart('@Model.Id')">Lägg till i kundvagn</button>
                    }
                </div>
            </div>
