@page
@model Web.Areas.Identity.Pages.Account.Manage.YourOrders
@{
    ViewData["Title"] = "Dina ordrar";
}
<a class="btn-sm btn-outline-secondary" href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
@if (!Model.Orders.Any())
{
    <h4>Du har inga ordrar</h4>
}

@foreach (var order in Model.Orders)
{

    <div class="col-sm-12 col-md-8 m-2 bg-dark text-white box-shadow">
        <h5>
            OrderId: @order.Id
        </h5>
        <div>Orderdatum: @order.OrderDate</div>
        <div>Status: @order.Status</div>
        <div>Totalpris: @order.Total().ToString("C")</div>
        <h3>Beställda varor:</h3>
        <div class="row">
            @foreach (var item in order.OrderItems)
            {
            <div class="col-sm-12 col-md-8 m-2 bg-light text-dark border-secondary box-shadow">
                <div>
                    Namn: @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    Antal: @Html.DisplayFor(modelItem => item.Quantity)
                </div>
                <div>
                    Pris: @item.Price.ToString("C")
                </div>
            </div>
            }
        </div>
    </div>
}