@model Web.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}
<a class="btn-sm btn-outline-secondary" href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h2>Kontrollera dina uppgifter</h2>
<hr />

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">

            <h3 class="card-header bg-dark text-white">
                Beställare:
            </h3>

            <div class="card-body bg-dark text-white">

                <div class="card-text bg-dark text-white">
                    <form asp-action="Checkout">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(c => c.Order.UserId)
                        @Html.HiddenFor(c => c.Order.Phone)

                        <div class="form-group">
                            <label asp-for="Order.FirstName" class="control-label"></label>
                            <input asp-for="Order.FirstName" type="text" class="form-control" />
                            <span asp-validation-for="Order.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.LastName" class="control-label"></label>
                            <input asp-for="Order.LastName" type="text" class="form-control" />
                            <span asp-validation-for="Order.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Address" class="control-label"></label>
                            <input asp-for="Order.Address" type="text" class="form-control" />
                            <span asp-validation-for="Order.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.ZipCode" class="control-label"></label>
                            <input asp-for="Order.ZipCode" type="text" class="form-control" />
                            <span asp-validation-for="Order.ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.City" class="control-label"></label>
                            <input asp-for="Order.City" type="text" class="form-control" />
                            <span asp-validation-for="Order.City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Email" class="control-label"></label>
                            <input asp-for="Order.Email" type="text" class="form-control" />
                            <span asp-validation-for="Order.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Order.Phone" class="control-label"></label>
                            <input asp-for="Order.Phone" type="text" class="form-control" />
                            <span asp-validation-for="Order.Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Skicka beställning" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <h3>Dina varor:</h3>
        <div class="row">
            @foreach (var item in Model.cart.CartItems)
            {
                <div class="col-sm-12 bg-light col-md-5 border-secondary m-2 box-shadow">
                    <div>Produktnamn: @item.Product.Name</div>
                    <div>
                        Antal: @item.Quantity
                        <a href="@Url.Action("Decrease", "Order", new { Id = item.Product.Id })"><i class="fas fa-minus-circle text-secondary"></i></a>
                        <a href="@Url.Action("Increase", "Order", new { Id = item.Product.Id })"><i class="fas fa-plus-circle text-secondary"></i></a>
                        <a href="@Url.Action("Remove", "Order", new { Id = item.Product.Id })"><i class="fas fa-trash text-danger"></i></a>
                    </div>
                    <div>Pris: @item.Product.Price.ToString("C")</div>
                </div>
            }
        </div>
        <h4 class="font-weight-bold m-3">
            Totalpris: @Model.Order.Total().ToString("C")
        </h4>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}