@model Web.Models.Order

@{
    ViewData["Title"] = "Index";
}
    <a class="btn-sm btn-outline-secondary" href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h2>Kontrollera dina uppgifter</h2>
<hr />

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">

            <h3 class="card-header bg-dark text-white">
                Beställare:
            </h3>

            <div class="card-body bg-dark text-white">

                <div class="card-text bg-dark text-white">
                    <form asp-action="Index">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(x => x.OrderItems)
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.OrderDate)
                        @Html.HiddenFor(x => x.Status)
                        @Html.HiddenFor(x => x.UserId)
                        @Html.HiddenFor(x => x.Email)

                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" value="@Model.LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" value="@Model.Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ZipCode" class="control-label"></label>
                            <input asp-for="ZipCode" value="@Model.ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" value="@Model.City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" value="@Model.Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Skicka beställning" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <h3>Dina varor:</h3>
        <div class="row">
            @foreach (var item in Model.OrderItems)
            {
                <div class="col-sm-12 bg-light col-md-5 border-secondary m-2 box-shadow">
                    <div>Produktnamn: @item.Product.Name</div>
                    <div>Beskrivning: @item.Product.Description</div>
                    <div>
                        Antal: @item.Quantity
                        <a href="@Url.Action("Decrease", "Order", new { Id = item.Product.Id })"><i class="fas fa-minus-circle text-secondary"></i></a>
                        <a href="@Url.Action("Increase", "Order", new { Id = item.Product.Id })"><i class="fas fa-plus-circle text-secondary"></i></a>
                        <a href="@Url.Action("Remove", "Order", new { Id = item.Product.Id })"><i class="fas fa-trash text-danger"></i></a>
                    </div>
                    <div>Pris: @item.Product.Price.ToString("C")</div>
                </div>
            }
        </div>
            <h4 class="font-weight-bold m-3">
                Totalpris: @Model.Total().ToString("C")
            </h4>
    </div>
</div>

